<html>
<head>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link href="" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

{#    {{-- balise - title   https://efficaceweb.fr/articles/balises-html-pour-le-referencement-google-comment-les-utiliser/   --}}#}
    <title>title - Perriolat</title>
    <meta name = « description » content = « Votre meta description magnifique »>
{#    {{--  balise - network social #OG  --}}#}
    <meta name = « og: title » property = « og: title » content = « Votre titre génial pour les réseaux sociaux »>
{#        balise robot   #}
    <meta name = « robots » content = « noindex, nofollow »>
</head>
<body>
<nav class="sticky grid-rows-1">
    <div class="">
        <span>Perriolat</span>
    </div>
    <ul class=" flex flex-row justify-evenly">
        <li><a>section 1</a></li>
        <li><a>section 2</a></li>
        <li><a>section 3</a></li>
        <li><a>section 4</a></li>
    </ul>
</nav>


<header>
    <div>
        <span>Perriolat</span>
    </div>
</header>




</body>

</html>
